.container{
    font-family:Georgia;
    padding-top:3%;
}

.parameter{
    margin-bottom:2%;
}

.bottom-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 28%;
    grid-gap: 1%;
    margin: 1% auto 0 auto;
}

.title, .period {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    color: #4587DD;
}

.dynamics {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    margin: auto;
    color: #4587DD;
}

.dynamicsTitle {
    font-size: 16pt;
}

.dynamicsResult{
    margin-left:5em;
}

.LeftBad, .RightBad {
    background-color: #ff6b6b;
}

.Healthy {
    background-color: #6bcf6b;
}

.LeftOkay, .RightOkay {
    background-color: #ffe066;
}

.displayTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    
}
    .displayTable > div {
        border-right: 1px solid black;
        border-top: 1px solid black;
        padding:3px;
    }
    .displayTable>div:nth-of-type(3n+1){
        border-left:1px solid black;
    }
        .displayTable > div:nth-of-type(1n+4) {
            border-bottom: 1px solid black;
            color: black;
        }

.recommendations{
    
}

.recommendation {
    width: 50%;
    margin: auto;
    background-color: #f2f5f7;
    border: 1px solid black;
    padding: 0.5%;
    text-align: justify;
    margin-top: 1%;
    font-family: Georgia;
    color: #4587DD;
    font-size: 13pt;
}

    .recommendation .recommendationLink{
        font-weight:bold;
    }