.displayTable {
    display: grid;
    padding: 5%;
    font-family: Georgia;
}

    .displayTable > div {
        display: grid;
        text-align: center;
        grid-template-columns: 2fr 0.75fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 2.5em;
        line-height: 2.5em;
    }

.displayTableHeader {
    color: #4587dd;
}

.tableLabel {
    text-align: right;
    color: #4587dd;
}
    .tableLabel.date {
        display: flex;
        justify-content: center;
    }

.tableValueHeader:not(:last-of-type), .tableValue:not(:last-of-type) {
    border-right: 1px solid black;
}

.tableValue:not(.metabolic) {
    border-top: 1px solid black;
}


.LeftBad, .RightBad {
    background-color: #ff6b6b;
}

.Healthy {
    background-color: #6bcf6b;
}

.LeftOkay, .RightOkay {
    background-color: #ffe066;
}

.LeftBad-color, .RightBad-color {
    color: #ff6b6b;
}

.Healthy-color {
    color: #6bcf6b;
}

.LeftOkay-color, .RightOkay-color {
    color: #ffe066;
}

.bottom-section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 35%;
    grid-gap: 1%;
}