<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="HealthSystem.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <script src="_content/AntDesign.Charts/g2plot.min.js"></script>
    <script src="_content/AntDesign.Charts/ant-design-charts-blazor.js"></script>
    <script>
        function getGraphAsImage(){
            console.log(document.getElementsByTagName("canvas")[0].toDataURL("image/png"));
            return document.getElementsByTagName("canvas")[0].toDataURL("image/png");
        }

        function downloadCurrentPageGraph(fileName){
            const image = getGraphAsImage()
            const link = document.createElement("a");
            link.href=image;
            link.download = fileName || "graph.png";
            link.click();
        }
    </script>
</body>

</html>
