<!DOCTYPE html>
<html lang="en" style="height:100%;">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="HealthSystem.styles.css" />
    <link href="_content/BlazorCalendar/BlazorCalendar.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="_content/BytexDigital.Blazor.Components.CookieConsent/styles.min.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <script src="_content/AntDesign.Charts/g2plot.min.js"></script>
    <script src="_content/AntDesign.Charts/ant-design-charts-blazor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

    <script>
        async function getGraphAsImage(){
            const img = await html2canvas(document.getElementsByTagName("canvas")[0]);
            return img.toDataURL("image/png");
        }

        async function getPageAsImage(){
            const img = await html2canvas(document.body);
            return img.toDataURL("image/png");
        }

        async function downloadCurrentPageGraph(fileName){
            const image = await getGraphAsImage();
            const link = document.createElement("a");
            link.href= image;
            link.download = fileName || "graph.png";
            link.click();
        }
    </script>
</body>

</html>
