@implements IDisposable
@inject NavigationManager NavigationManager


<div class="main-part">

    <div class="menu">
        <div class="logo-link">
            <a class="" href="">Metabolic Health</a>
        </div>
        <nav class="menu-links">
            <AuthorizeView>
                <Authorized>
                    <div class="nav-item">
                        <NavLink class="menu-link" href="add-info" Match="NavLinkMatch.All">
                            Add medical information
                        </NavLink>
                    </div>
                    <div class="separator">|</div>
                    <div class="nav-item">
                        <NavLink class="menu-link" href="statistics" Match="NavLinkMatch.All">
                            Statistics
                        </NavLink>
                    </div>
                    <div class="separator">|</div>
                    <div class="nav-item">
                        <NavLink class="menu-link" href="recommendations" Match="NavLinkMatch.All">
                            Recommendations
                        </NavLink>
                    </div>
                    <div class="separator">|</div>
                    <div class="nav-item">
                        <NavLink class="menu-link" href="messages" Match="NavLinkMatch.All">
                            My Messages
                        </NavLink>
                    </div>
                    <div class="separator">|</div>

                    <div class="nav-item">
                        <NavLink class="menu-link" href="Account/Manage" Match="NavLinkMatch.All">
                            My Profile
                        </NavLink>
                    </div>
                    <div class="separator">|</div>
                    <div class="nav-item">

                        <form name="logoutForm" action="Account/Logout" method="post">
                            <AntiforgeryToken />
                            <a href="#" onclick="document.forms.logoutForm.submit();">Logout</a>
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <button style="display:none;" type="submit" class="nav-link">
                                Logout
                            </button>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item">
                        <NavLink class="menu-link" href="Account/Register" Match="NavLinkMatch.All">
                            Register
                        </NavLink>
                    </div>
                    <div class="separator">|</div>
                    <div class="nav-item">
                        <NavLink class="menu-link" href="Account/Login" Match="NavLinkMatch.All">
                            Login
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </nav>
    </div>
</div>
@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

