.menu {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    font-family: Georgia;
    font-size: 19px;
    
    margin: 2% 3%;
}

.logo-link{
    font-size:16.8pt;
}

.separator {
    font-size: 25px;
    font-weight:normal;
}

.menu-link{
    font-size:18pt;    
}



.menu-links {
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 2em;
}

    .menu-links div, .logo-link {
        align-content: center;
    }