.container {
    display: grid;
    grid-template-rows: 15% 85%;
    height: 100%;
    font-family: Georgia;
    padding-top: 1%;
}

.info-row {
    display: grid;
    grid-template-columns: 15% 10% 15%;
    grid-column-gap: 1%;
    margin: 1% 0;
}

.date-row {
    display: grid;
    grid-template-columns: 30% 70%;
}

    .date-row div input {
        width: 50%;
        margin: auto;
    }

.info-label {
    font-size: 16.8pt;
    text-align: right;
    color: #4587dd;
    line-height: 1.2em;
}

.info-value {
    align-self: center;
}


.info-value > * {
    width: 1em !important;
}

.info-range {
}

.threshold-bar {
    display: flex;
    position: relative;
    height: 6px;
    display: flex;
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    overflow: visible;
    top: 50%;
}

.segment {
    height: 100%;
    flex: 1;
}

.threshold-bar .segment:first-of-type {
    border-radius: 5px 0 0 5px;
}

.threshold-bar .segment:nth-child(5) {
    border-radius: 0 5px 5px 0;
}

.LeftBad, .RightBad {
    background-color: #ff6b6b;
}

.Healthy {
    background-color: #6bcf6b;
}

.LeftOkay, .RightOkay {
    background-color: #ffe066;
}

.LeftBad-color, .RightBad-color {
    color: #ff6b6b;
}

.Healthy-color {
    color: #6bcf6b;
}

.LeftOkay-color, .RightOkay-color {
    color: #ffe066;
}

.indicator {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3px;
    height: 1em;
    background-color: #000;
    border-radius: 3px;
    transform: translateX(-50%);
}

    .indicator .value {
        position: absolute;
        top: -20px;
        font-size: 14px;
        font-weight: bold;
        /*color: #000;*/
        white-space: nowrap;
        left: -4px;
    }
