.main-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120vh;
    background-image: url('./Images/web_startpage_test1.jpg');
    background-repeat: no-repeat;
}

.separator {
    opacity: 100;
    color: white;
    width: 50%;
    height: 3.5px;
    margin: 2rem 0 !important; 
}

.button:hover {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
    
}

.button {
    color: #4587dd;
    background-color: #fff;
    border-color: #fff;
    width: fit-content;
    border: 1px solid transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    font-size: 28pt !important;
    padding: 0.1rem 2rem;
    font-size: 1rem;
    border-radius: .75rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family:'Century Gothic';
}


.left-side-image{

}

.right-side {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 100%;
    align-items: end;
    padding: 6% 3% 3% 3%;
    width: 35%;
    color: #4587dd;
}

    .right-side div.top-line, .right-side div.bottom-line {
        font-family: 'Century Gothic';
        font-size: 17pt;
    }
    .right-side div.middle-line {
        font-family: 'Century Gothic';
        font-size: 40pt;
        line-height: 1.1em;
        letter-spacing: 11px;
        margin-right: -2.5%;
    }
    .right-side div.bottom-line{
        margin-bottom:1em;
    }

