@page "/"
@using CsvHelper
@using CsvHelper.Configuration
@using HealthSystem.Data
@using System.Globalization
@using System.Text
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<div class="main-part">
    <img class="left-side-image" />
    <aside class="right-side">
        <div class="top-line">Metabolic Health</div>
        <div class="middle-line">Diagnostic and research</div>
        <hr class="separator" />
        <div class="bottom-line">Over time, with the goal of improving health and preventing chronic illnesses in the future.</div>
        <button @onclick="@(()=>{NavigationManager.NavigateTo("/add-info");})" class="button">begin</button>
    </aside>
</div>


@code {
    
}
